# EditorConfig is awesome: https://EditorConfig.org

#Top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Java defaults (Spring Boot standard)
[*.java]
indent_size = 4

# Web defaults (Next.js/React standard)
[*.{js,jsx,ts,tsx,json,html,css,yml,yaml}]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false