@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* 1. Use a more-intuitive box-sizing model */
:root {
    --grey-900: #141414;
    --grey-800: #1f1f1f;
    --grey-700: #333333;
    --green: #c4f82a;
    --white: #ffffff;
    font-size: 14px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

body {
    background-color: var(--grey-900);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: var(--grey-800);
    color: var(--white);
    width: 384px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.card > img {
    width: 10rem;
    border-radius: 50%;
    margin-top: 2rem;
}

.card > h1 {
    font-size: 1.5rem;
    margin: 0.8rem;
}

.card > h2 {
    color: var(--green);
    font-size: 1rem;
}

.card > p {
    margin: 1.5rem;
    text-align: center;
}

.social {
    display: block;
    background-color: var(--grey-700);
    padding: 1rem;
    width: 300px;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0.3rem;
    transition: background-color 1s ease-in-out, color 0.3s ease-in-out;
    color: var(--white);
    text-decoration: none;
}

.social:hover,
.social:focus {
    background-color: var(--green);
    color: var(--grey-900);
    outline: none;
}
