services:
  postgres:
    image: postgres:16-alpine
    container_name: labs-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      # POSTGRES_DB defaults to 'admin' or 'postgres' if not set
    volumes:
      - pg_data:/var/lib/postgresql/data

  mongo:
    image: mongo:latest
    container_name: labs-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db

volumes:
  pg_data:
  mongo_data:
